<div class="row-fluid">
  <div class="col-xs-12">
    <p class="center">
      <strong>{{total_platforms}}</strong> platforms and <strong>{{total_free_casts}}</strong> freecasts.
    </p>
  </div>
</div>
<div class="row-fluid">
  {{#each platforms}}
    <div class="col-xs-12 col-sm-4 col-md-3">
      <div class="thumbnail">
        <a href="{{url}}" title="{{about}}">
          <img src="{{image}}" class="img-responsive img-rounded">
        </a>
        <div class="caption">
          <p class="center">
            <a href="{{url}}" title="{{about}}" class="btn btn-block btn-primary">
              <i class="icon-video"></i>&nbsp;{{title}} ({{total_videos}} videos)
            </a>
          </p>
        </div>
      </div>
    </div>
  {{/each}}
</div>