{{#each partners}}
  <section id="{{name}}">
    {{#each videos}}
      <div class="col-xs-12 col-sm-4 col-md-4">
      {{#if featured}}
        <div class="thumbnail thumbnail-featured">
          <span class="label label-primary label-top">FEATURED VIDEO</span>
      {{else}}
        <div class="thumbnail">
      {{/if}}
          <a href="{{url}}" target="_blank" title="{{title}}" onclick="ga('send', 'event', '{{../../subtitle}}', '{{level_title}}', '{{title}}');">
            <img src="{{../image}}" class="img-responsive img-rounded" width="250" height="120">
          </a>
          <div class="caption">
            <h3 class="video-title">{{title}}</h3>
            <p class="video-description">{{description}}</p>
            <p class="video-metadata">Author: <a href="{{../site_url}}" target="_blank">{{../site}}</a><br>Level: <span class="label label-primary" title="{{level_title}}">{{level}}</span> | Lang.: <span class="label label-primary">{{../lang}}</span> | Time: <span class="label label-primary">{{duration}}</span>
            <p><a href="{{url}}" target="_blank" class="btn btn-primary btn-block" role="button" onclick="ga('send', 'event', '{{../../subtitle}}', '{{level_title}}', '{{title}}');"><i class="icon-play"></i>&nbsp;Watch</a>
          </div>
        </div>
      </div>
    {{/each}}
  </section>
{{/each}}